/* .box{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  text-align: center;
} */

/* #box {
  height: 200px;
  width: 100px;
  background-color: powderblue;
  border: 2px solid black;
} */

.content {
  color: red;
}

.newClass {
  background-color: green;
}